{%- for tenant in include.model.Tenants %}
<div class="w3-container ">
    <div class="w3-border-bottom w3-margin w3-padding">
        <div class="w3-row w3-container">
            <div class="w3-col w3-padding-small w3-center" style="width:20%" >
                <span class="w3-medium">Tenant: </span><span class="w3-tag w3-round">{{ tenant.Configuration.Name }}</span>
            </div>
            {%- for product in tenant.Products %}
            <div class="w3-col w3-padding-small w3-center" style="width:20%" >
                <span class="w3-medium">Product: </span><span class="w3-tag w3-round">{{ product.Configuration.Name }}</span>
            </div>
            {%- for environment in product.Environments %}
            <div class="w3-col w3-padding-small w3-center" style="width:20%">
                <span class="w3-medium">Environment: </span><span class="w3-tag w3-round">{{ environment.Configuration.Name }}</span>
            </div>
            {%- for segment in environment.Segments %}
            <div class="w3-col w3-padding-small w3-center" style="width:20%">
                <span class="w3-medium">Segment: </span><span class="w3-tag w3-round">{{ segment.Configuration.Name }}</span>
            </div>
        </div>
    </div>

    {%- for tier in segment.Tiers %}
    <div class="w3-border w3-margin">
        <header class="w3-container w3-green w3-large">Tier: {{ tier.Configuration.Name }}</header>
        <div class="w3-container w3-row-padding">
        <h5 class="w3-left-align">Components</h5> 
            {%- for component in tier.Components %}
            {% capture componentId %}{{tenant.Id}}-{{product.Id}}-{{environment.Id}}-{{segment.Id}}-{{tier.Id}}-{{component.Id}}{% endcapture %}
                <div id="{{componentId}}" class="component-card w3-card w3-margin w3-border w3-col s2 w3-button" onclick="showOccurrenceTable(event, '{{componentId}}');" >
                    <div class="w3-cell-middle w3-center">
                        <h4>{{component.Id}}</h4>
                        <div class="w3-small w3-text-grey">{{component.Type}}</div>
                    </div>
                    <div id="occurrencetable-{{componentId}}" class="w3-container w3-cell w3-hide w3-padding w3-margin">
                        <button class="table-close w3-button w3-hover-dark-red w3-red w3-tiny" onclick="showOccurrenceTable(event, '{{componentId}}');">Close &times</button>
                        <table class="w3-table w3-margin w3-hoverable">
                            <thead>
                                <tr class="w3-light-grey">
                                    <th>Occurrence</th>
                                    <th>Sub Occurrence</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            {%- if component.Occurrences.size == 0 %}
                                <tr>
                                    <td colspan="3"><span class="w3-small w3-center">No deployed occurrences available</span></td>
                                </tr>
                            {%- endif %}
                            {%- for occurrence in component.Occurrences  %}
                                {%- capture occurrenceId %}{{tenant.Id}}-{{product.Id}}-{{environment.Id}}-{{segment.Id}}-{{tier.Id}}-{{component.Id}}-{{occurrence.Core.Id}}{%- endcapture %}
                                <tr class="occurrenceSelector" onclick="event.stopPropagation(); openItemPropertyTab(event, '{{occurrenceId}}');">
                                    <td colspan="2" ><span class="w3-small">{{occurrence.Core.Name}}</span></td>
                                    <td><span class="w3-small">{{occurrence.Core.Type}}</span></td>
                                </tr>
                                
                                {%- for suboccurrence in occurrence.Occurrences %}
                                    {%- capture subOccurrenceId %}{{tenant.Id}}-{{product.Id}}-{{environment.Id}}-{{segment.Id}}-{{tier.Id}}-{{component.Id}}-{{occurrence.Core.Id}}-{{suboccurrence.Core.Id}}{%- endcapture %}
                                    <tr class="occurrenceSelector" onclick="event.stopPropagation(); openItemPropertyTab(event, '{{subOccurrenceId}}');">
                                        <td></td>
                                        <td> 
                                        <span class="w3-small"> {{suboccurrence.Core.Name}} </span>
                                        </td>
                                        <td>
                                            <span class="w3-small w3-padding">{{suboccurrence.Core.Type}}</span>
                                        </td>
                                    </tr>
                                {%- endfor %}                                                                        
                            {%- endfor %}
                            </table>
                        </div>
                    <div>
                        {%- for occurrence in component.Occurrences %}
                            {%- capture occurrenceId %}{{tenant.Id}}-{{product.Id}}-{{environment.Id}}-{{segment.Id}}-{{tier.Id}}-{{component.Id}}-{{occurrence.Core.Id}}{%- endcapture %}
                            {%- include occurrenceproperties.html item=occurrence id=occurrenceId %}
                            
                            {%- for suboccurrence in occurrence.Occurrences %}
                                {%- capture subOccurrenceId %}{{tenant.Id}}-{{product.Id}}-{{environment.Id}}-{{segment.Id}}-{{tier.Id}}-{{component.Id}}-{{occurrence.Core.Id}}-{{suboccurrence.Core.Id}}{%- endcapture %}
                                {%- include occurrenceproperties.html item=suboccurrence id=subOccurrenceId %}
                            {%- endfor %}
                        {%- endfor %}
                    </div>
                </div>
            {%- endfor %} 
        </div>
    </div>
    {%- endfor %}
    {%- endfor %}
    {%- endfor %}
    {%- endfor %}
</div>
{%- endfor %}