<div class="diagram-properties w3-container w3-margin w3-border-top w3-hide" id="prop-{{include.id}}">
    <div class="w3-panel">
        <span class="w3-large w3-margin">Properties </span><span clas="w3-small">{{include.item.Core.Name}}</span>
    </div>
    <div class="w3-bar w3-light-grey">
        <button class="properties-set-button w3-bar-item w3-button " onclick="openPropertyTab(event, '{{include.id}}', 'core' ); " id="prop-but-core-{{include.id}}">Core</button>
        <button class="properties-set-button w3-bar-item w3-button " onclick="openPropertyTab(event, '{{include.id}}', 'config' ); " id="prop-but-config-{{include.id}}">Configuration</button>
        <button class="properties-set-button w3-bar-item w3-button " onclick="openPropertyTab(event, '{{include.id}}', 'resource' ); "  id="prop-but-resource-{{include.id}}">Resources</button>
        <button class="properties-set-button w3-bar-item w3-button " onclick="openPropertyTab(event, '{{include.id}}', 'attribute' ); " id="prop-but-attribute-{{include.id}}">Attributes</button>
    </div>
    <div class="properties-set w3-container" id="prop-core-{{include.id}}" >
        <ul class="w3-ul w3-small w3-show">
            <li><div class="w3-medium property-key">Name</div> {{include.item.Core.Name}}</li>
            <li><div class="w3-medium property-key">Id</div> {{include.item.Core.Id}}</li>
            <li><div class="w3-medium property-key">Type</div> {{include.item.Core.Type}}</li>
        </ul> 
    </div>
    <div class="properties-set w3-container" id="prop-config-{{include.id}}" style="display:none">
        <ul class="w3-ul w3-small">
            {%- for property in include.item.Configuration  %}
                <li><div class="w3-medium property-key">{{property[0]}}</div> 
                {%- if property[1].first %}
                    {%- if property[1].first.[1] != nill %}
                        <ul class="w3-ul w3-small"> 
                            {%- for sub-property in property[1] %}
                                <li><div class="w3-medium sub-property-key">{{sub-property[0]}}</div>
                                {%- if sub-property[1].first %}
                                    <ul class="w3-ul w3-small">    
                                    {%- if sub-property[1].first.[1] != nill %}
                                        {%- for sub-sub-property in sub-property[1] %}
                                            <li><div class="w3-medium sub-property-key">{{sub-sub-property[0]}}</div>{{sub-sub-property[1]}}</li>
                                        {%- endfor %}
                                    {%- else %}
                                        {%- for value in sub-property[1] %}
                                            {%- if value[1] != nill %}
                                                <li><div class="w3-medium sub-property-key">{{value[0]}}</div>{{value[1]}}^</li>
                                            {%- else %}
                                                <li>{{value}}</li>
                                            {%- endif %}
                                        {%- endfor %}
                                    {%- endif %}
                                    </ul>
                                {%- else %}
                                    {{sub-property[1]}}
                                {%- endif %}
                                </li>
                            {%- endfor %}
                        </ul>
                    {%- else %}
                        <ul class="w3-ul w3-class">
                        {%- for value in property[1] %}
                            <li>{{value}}</li>
                        {%- endfor %}
                        </ul>
                    {%- endif %}
                {%- else %}
                    {{property[1]}}
                {%- endif %}
            </li>
            {%- endfor %}
        </ul>
    </div>
    <div class="properties-set w3-container w3-row w3-mobile" id="prop-resource-{{include.id}}" style="display:none">
        {%- for resource in include.item.State.Resources sort:"[1].Type" %}
        <div class="w3-card w3-padding-small w3-margin w3-col s2 w3-center" onclick="showResourceTab(event, '{{resource[1].Id}}'); " >
            <div><img src="{{ "/images/resources/aws/" | relative_url}}{{resource[1].Type}}.svg" onerror="this.style.display='none'"></div>
            <div class="w3-center"> {{resource[1].Type}}</div>
            <div class="resource-properties w3-hide" id="resource-properties-{{resource[1].Id}}">
                {%- for property in resource[1] %}
                    {%- unless {{property[0]}} == "Type" %}
                        <div class="w3-left-align"><span class="property-key">{{property[0]}}:</span> {{property[1]}}</div>
                    {%- endunless %}
                {%- endfor %}
            </div>
        </div>
        {%- endfor %}
    </div>
    <div class="properties-set w3-container" id="prop-attribute-{{include.id}}" style="display:none">
        <ul class="w3-ul w3-small">
            {%- for property in include.item.State.Attributes %}
            <li><div class="w3-medium property-key">{{property[0]}}</div> {{property[1]}}</li>
            {%- endfor %}
        </ul>
    </div>
</div>
