src/_site
src/.sass-cache
src/.jekyll-metadata
src/.idea
src/_data/blueprints/*
!src/_data/blueprints/README.md
!src/_data/blueprints/.msw/
!src/.blueprint_nav.json
src/_data/blueprint_nav.json
src/blueprints/*
src/_blueprints/*
!src/blueprints/.msw
!src/_blueprints/.msw