.page-content, .docs-content{

  code{
    background: rgba(0,0,0,0.04);
    border-radius: 3px;
    display: inline-block;
    padding: 5px;
    font-size: 0.9em;
  }

  pre{
    overflow: auto;
  }

  pre code{
    padding: 15px;
    margin: 0 0 10px 0;
  }

  code, pre{
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }

}